<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Christian Awe</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Heebo:500" rel="stylesheet">

</head>

<body class="introBackground">
<header class="desktoponly">
	<div class="intro titleHeader">Christian Awe</div>
</header>
<div class="landing"></div>
<div class="content-container hidden">

	<div class="overlap sectionHeader firstheader fixed"><span>currently working on</span></div>
	<div class=row1>
		<div class="column12">
			<div class="desktoponly">
				<p class="big">New website on the way, be informed about Christians' works, exhibitions and projects</p>
				<form action="" id="subscribeForm1" method="post">
					<input type=text id="subscribeEmail1" name="email" placeholder="your e-mail address here"/>
					<input type=submit value=ok class=standard/>
				</form>
				<div id="thankyou1" style="display: none">
					Thank you!
				</div>
			</div>
			<div class="websiteformdiv mobileonly">
				<div id=newwebsite class="big">
					<div class="underline websiteword">New website</div>
					<div class="">on the way</div>
				</div>
				<div class="emailform standard hidden">
					<p class="">be informed about Christians' works, exhibitions and projects</p>
					<form action="" id="subscribeForm2" method="post">
						<input type=text id="subscribeEmail2" name="email" placeholder="your e-mail address here"/>
						<input type=submit value=ok class=standard/>
					</form>
					<div id="thankyou2" style="display: none">
						Thank you!
					</div>
				</div>
			</div>
		</div>

		<div class=column11>
			<div id="project1" class="row2 project">
				<div class="column21 big desktoponly">16.03. -
					<br>20.04.2018
				</div>
				<div id="projectTitle1" class="column22 big">
					<div id=actualtitle1 class="underline">black | sea</div>
					<div class="big mobileonly">16.03. -
						<br>20.04.2018
					</div>
					<div class="">68projects</div>
					<div class="">Berlin</div>
				</div>
				<div class=column22>

					<div class="artworks" id="artworks1">
						<div class="desktoponly">
							<div class="firstpar">Exhibition with works of Christian Awe
								and the Georgian artist Levan Songulashvilli
							</div>
							<div>68projects, Fasanenstr. 68, 10719 Berlin
								<br>Opening: 16.03., 6 - 9 p.m.
							</div>
						</div>
						<div class="art1" id="art1a">
							<img class="artworkImg" src="images/art1.jpg"/>
							<div class=row3>
								<div class="column31 small">
									abstract VII, 2017<br /> acrylic on canvas, 80 x 65 cm
								</div>
								<div class="column32 small">
									1/3
								</div>
							</div>
						</div>

						<div class="art2" id="art1b">
							<img class="artworkImg" src="images/art2.jpg"/>
							<div class=row3>
								<div class="column31 small">
									abstract V, 2017<br /> acrylic on canvas, 80 x 65 cm
								</div>
								<div class="column32 small">
									2/3
								</div>
							</div>
						</div>

						<div class="art3" id="art1c">
							<img class="artworkImg" src="images/art3.jpg"/>
							<div class=row3>
								<div class="column31 small">
									cool water, 2017<br /> acrylic on canvas, 210 x 260 cm
								</div>
								<div class="column32 small">
									3/3
								</div>
							</div>
						</div>

						<div class="mobileonly">
							<div class="firstpar">Exhibition with works of Christian Awe
								<br>and the Georgian artist Levan Songulashvilli
							</div>
							<div>68projects, Fasanenstr. 68, 10719 Berlin
								<br>Opening: 16.03., 6 - 9 p.m.
							</div>
						</div>

					</div>

				</div>
			</div>

			<!--

				PROJECT 2

			//-->

			<div id="project2" class="row2 project">
				<div class="column21 big desktoponly">12.04. -
					<br>15.04.2018
				</div>
				<div id="projectTitle2" class="column22 big">
					<div id=actualtitle2 class="underline">Enter Art Foundation</div>
					<div class="big mobileonly">12.04. -
						<br>15.04.2018
					</div>
					<div class="">at Stockholm Art Week 2018</div>
					<div class="">Stockholm, Sweden</div>
				</div>
				<div class=column22>

					<div class="artworks" id="artworks2">
						<div class="desktoponly">
							<div>Exhibition of 26 contemporary artists.
							</div>
							<div>
								Epicenter<br />
								Mäster Samuelsgatan 36<br />
								111 57 Stockholm, Sweden<br />
								<br />
								Public opening: 12.04., 6 - 10 p.m.
								<br />
								Opening hours: 13.04., 6 - 10 p.m. / 14.04. + 15.04., 2 - 10 p.m.

							</div>
						</div>
						<div class="art1" id="art2a">
							<img class="artworkImg" src="images/surge.jpg"/>
							<div class=row3>
								<div class="column31 small">
									surge, 2018<br /> acrylic on canvas, 180 x 220 cm
								</div>
								<div class="column32 small">
									1/1
								</div>
							</div>
						</div>

						<div class="mobileonly">
							<div>Exhibition of 26 contemporary artists.<br>
								Epicenter<br />
							</div>
							<div>Mäster Samuelsgatan 36<br />
								111 57 Stockholm, Sweden<br />
								<br />
								Public opening: 12.04., 6 - 10 p.m.
								<br />
								Opening hours: 13.04., 6 - 10 p.m. / 14.04. + 15.04., 2 - 10 p.m.
							</div>
						</div>

					</div>

				</div>
			</div>

			<!--

				Project 3

			/-->

			<div id="project3" class="row2 project">
				<div class="column21 big desktoponly">19.04. -
					<br>22.04.2018
				</div>
				<div id="projectTitle3" class="column22 big">
					<div id=actualtitle3 class="underline">Art Cologne</div>
					<div class="big mobileonly">19.04. -
						<br>22.04.2018
					</div>
					<div class="">with Galerie Ludorff</div>
					<div class="">Cologne</div>
				</div>

				<div class=column22>

					<div class="artworks" id="artworks3">
						<div class="desktoponly">
							<div>At the art fair you can find Galerie Ludorff<br>
								in hall 11.1 / booth B 10.
							</div>
							<div>Art Cologne, Messeplatz 1, 50679 Cologne<br />
								<br />
								Opening Hours:
								<br />
								19.04. - 21.04., 11 a.m. - 7 p.m.
								<br />
								22.04., 11 a.m. - 6 p.m.
							</div>
						</div>

						<div class="art1" id="art3a">
							<img class="artworkImg" src="images/coolwater.jpg"/>
							<div class=row3>
								<div class="column31 small">
									cool water II, 2017<br /> acrylic on canvas, 210 x 260 cm
								</div>
								<div class="column32 small">
									1/1
								</div>
							</div>
						</div>

						<div class="mobileonly">
							<div>At the art fair you can find Galerie Ludorff<br>
								in hall 11.1 / booth B 10.
							</div>
							<div>Art Cologne, Messeplatz 1, 50679 Cologne<br />
								<br />
								Opening Hours:
								<br />
								19.04. - 21.04., 11 a.m. - 7 p.m.
								<br />
								22.04., 11 a.m. - 6 p.m.
							</div>
						</div>

					</div>

				</div>
			</div>

			<!--

			Projekt 4

			//-->

			<div id="project4" class="row2 project">
				<div class="column21 big desktoponly">21.04. -
					<br>02.09.2018
				</div>
				<div id="projectTitle4" class="column22 big">
					<div id="actualtitle4" class="underline">
						Layers of nature – Beyond the line
					</div>
					<div class="big mobileonly">21.04. -
						<br>02.09.2018
					</div>
					<div>Sezon Museum of Modern Art</div>
					<div>Karuizawa, Japan</div>
				</div>

				<div class=column22>

					<div class="artworks" id="artworks4">
						<div class="desktoponly">
							<div>Works by Sam Francis, Shingo Francis<br />
								and Christian Awe, in dialogue.<br /><br />
							</div>
							<div>Sezon Museum of Modern Art<br />
								2140 Serigasawa, Nagakura, Karuizawa, Kitasaku District,<br /> Nagano, 389-0111, Japan<br />
								<br />
								Opening hours:<br />
								daily 10 a.m. - 6 p.m.<br />
								holiday: Thursdays (except May 3 / open every days in August)
							</div>
						</div>
						<div class="art1" id="art4a">
							<img class="artworkImg" src="images/Christian-Awe-suiren-Wasserlilie-2018.jpg"/>
							<div class=row3>
								<div class="column31 small">
									スイレン (suiren), 2018<br />
									acrylic on paper, 137 x 103 cm<br />
									framed 149 x 114 cm
								</div>
								<div class="column32 small">
									1/7
								</div>
							</div>
						</div>

						<div class="art2" id="art4b">
							<img class="artworkImg" src="images/Christian-Awe-reminiscence-2017.jpg"/>
							<div class=row3>
								<div class="column31 small">
									reminiscence, 2018<br />
									acrylic on canvas, 120 x 100 cm
								</div>
								<div class="column32 small">
									2/7
								</div>
							</div>
						</div>

						<div class="art3" id="art4c">
							<img class="artworkImg" src="images/Christian-Awe-correntio-2017.jpg"/>
							<div class=row3>
								<div class="column31 small">
									correntío, 2017<br />
									acrylic on paper, 152 x 232 cm<br />
									framed 165 x 245 cm
								</div>
								<div class="column32 small">
									3/7
								</div>
							</div>
						</div>

						<div class="art4" id="art4d">
							<img class="artworkImg" src="images/Christian-Awe-movimento-2017m.jpg"/>
							<div class=row3>
								<div class="column31 small">
									movimento, 2017<br />
									acrylic on paper, 152 x 232 cm<br />
									framed 165 x 245 cm
								</div>
								<div class="column32 small">
									4/7
								</div>
							</div>
						</div>

						<div class="art5" id="art4e">
							<img class="artworkImg" src="images/Christian-Awe-couldnt-love-u-more-2017.jpg"/>
							<div class=row3>
								<div class="column31 small">
									couldnˈt love u more, 2017<br />
									acrylic on paper, 152 x 232 cm<br />
									framed 165 x 245 cm
								</div>
								<div class="column32 small">
									5/7
								</div>
							</div>
						</div>

						<div class="art6" id="art4f">
							<img class="artworkImg" src="images/Christian_Awe_Seazon_2018.jpg"/>
							<div class=row3>
								<div class="column31 small">
									Seazon installation 2018, acrylic on paper
								</div>
								<div class="column32 small">
									6/7
								</div>
							</div>
						</div>

						<div class="art7" id="art4g">
							<img class="artworkImg" src="images/Christian_Awe_Seazon_Detail_2018.jpg"/>
							<div class=row3>
								<div class="column31 small">
									Seazon installation 2018 (detail), acrylic on paper
								</div>
								<div class="column32 small">
									7/7
								</div>
							</div>
						</div>

						<div class="mobileonly">
							<div>Works by Sam Francis, Shingo Francis<br />
								and Christian Awe, in dialogue.<br /><br />
							</div>
							<div>Sezon Museum of Modern Art<br />
								2140 Serigasawa, Nagakura, Karuizawa, Kitasaku District, Nagano, 389-0111, Japan<br />
								<br />
								Opening hours:<br />
								daily 10 a.m. - 6 p.m.<br />
								holiday: Thursdays (except May 3 / open every days in August)
							</div>
						</div>

					</div>

				</div>
			</div>

			<div id="project5" class="row2 project">
				<div class="column21 big desktoponly">27.04. -
					<br>29.04.2018
				</div>
				<div id="projectTitle5" class="column22 big">
					<div id=actualtitle5>Gallery
						<br>Weekend Berlin
					</div>
					<div class="big mobileonly">27.04. -
						<br>29.04.2018
					</div>
					<div class="">Open Studio</div>
				</div>
			</div>

		</div>
	</div>
	<div class="sectionHeader"><span>get in touch</span></div>
	<div class="desktoponly contact big">
		<div class="contactdetails">Atelier Christian Awe
			<br>Siegfriedstr. 204a
			<br>10365 Berlin, Germany
		</div>
		<div class="contactdetails">office +49 30 84 41 99 40
			<br><a href="mailto:info@christianawe.com">
				info@christianawe.com
			</a>
		</div>
		<div class="contactdetails">press inquiries:
			<br><a href="mailto:presse@christianawe.com">
				presse@christianawe.com
			</a>
		</div>
		<div class="contactdetails">Galleries:
			<br>Ludorff (Düsseldorf)
			<br>Ostendorff (Münster)
			<br>Thomas Fuchs (Stuttgart)
			<br>Tristan Lorenz (Frankfurt am Main)
		</div>
	</div>
	<div class="mobileonly contact big">
		<div class="contactdetails">Atelier
			<br>Christian Awe
			<br>Siegfriedstr. 204a
			<br>10365 Berlin,
			<br>Germany
			<br>office
			<br>+49 30 84 41 99 40
			<br />
			<a href="mailto:info@christianawe.com">
				info@<br/>
				christianawe.com
			</a>
		</div>
		<div class="contactdetails">press inquiries:
			<br />
			<a href="mailto:presse@christianawe.com">
				presse@<br/>
				christianawe.com
			</a>

		</div>
		<div class="contactdetails align-left">Galleries:
			<br>Ludorff (Düsseldorf)
			<br>Ostendorff (Münster)
			<br>Thomas Fuchs (Stuttgart)
			<br>Tristan Lorenz (Frankfurt am Main)
		</div>
	</div>


	<div class="sectionHeader"><span>Imprint</span></div>
	<div class="row4 hidden">
		<div class="column41 col1">
			<div class="imprintdetails">Responsible for
				<br>the contents of this website
			</div>
			<div class="imprintdetails">Atelier Christian Awe
				<br>Siegfriedstr. 204a
				<br>10365 Berlin, Germany
			</div>
			<div class="imprintdetails">phone: +49 30 844 199 40
				<br>email: <a href="mailto:info@christianawe.com">
					info@christianawe.com
				</a>
			</div>
			<div class="imprintdetails">USt-IdNr.: DE252685252</div>
			<div class="imprintdetails">Design: <a target="_blank" href="http://fassonfreddyfuss.com">FASSON</a></div>
			<div>

			</div>
		</div>
		<div class="column42 col2">
			<div class="imprintdetails">
				©2018 Atelier Christian Awe – all rights reserved. The contents and works published on this website are
				governed by the copyright
				laws of Germany. Any duplication, reproduction, processing, distribution or any form of utilisation
				beyond the
				scope of copyright law shall require the prior written approval of the studio Christian Awe.
			</div>
			<div class="imprintdetails">DISCLAIMER</div>
			<div class="imprintdetails">Liability for Content</div>
			<div class="imprintdetails">
				We make every effort to keep the information on our Web site current, but accept no liability whatsoever
				for the content
				provided. Pursuant to 7 par. 1 of TMG (German Tele-Media Act), the law limits our responsibility as a
				service provider
				to our own content on these Web pages.
			</div>
			<div class="imprintdetails">
				According to 8 to 10 of TMG, we are not obligated to monitor third party information provided or stored
				on our Web site.
				However, we shall promptly remove any content upon becoming aware that it violates the law. Our
				liability in such
				an instance shall commence at the time we become aware of the respective violation.
			</div>
			<div class="imprintdetails">Liability for Links</div>
			<div class="imprintdetails">
				Our site contains links to third-party Web sites. We have no influence whatsoever on the information on
				these Web sites and
				accept no guaranty for its correctness. The content of such third-party sites is the responsibility of
				the respective
				owners/providers.
			</div>
			<div class="imprintdetails">
				At the time third-party Web sites were linked to ours, we found no grounds whatsoever of any likely
				contravention of the
				law. We shall promptly delete a link upon becoming aware that it violates the law.
			</div>
		</div>
		<div class="column43 col3">
			<div class="imprintdetails">Copyrights</div>
			<div class="imprintdetails">
				The content and works provided on these Web pages are governed by the copyright laws of Germany.
				Duplication, processing,
				distribution, or any form of commercialization of such material beyond the scope of the copyright law
				shall require
				the prior written consent of its respective author or creator.
			</div>
			<div class="imprintdetails">Data Protection</div>
			<div class="imprintdetails">
				Please be aware that there are inherent security risks in transmitting data, such as e-mails, via the
				Internet, because it
				is impossible to safeguard completely against unauthorized access by third parties. Nevertheless, we
				shall safeguard
				your data, subject to this limitation. In particular, personal information will be transmitted via the
				Internet
				only if it does not infringe upon third-party rights, unless the respective party has given its prior
				consent in
				view of such security risks. Accordingly, as the Web site provider, we shall not be held liable for any
				damages
				incurred as a consequence of such security risks or for any related acts of omission on our part.
			</div>
			<div class="imprintdetails">
				We oppose the use of any available contact information by a third party for sending unsolicited
				advertisements. As the Web
				site provider, we reserve the express right to take legal action against unsolicited mailing or
				e-mailing of spam
				and other similar advertising materials.
			</div>
			<div class="imprintdetails">
				<a href="https://ra.de/bsp/kanzlei/geo">Source</a>
			</div>
		</div>
	</div>
</div>
<footer class="mobileonly">
	<div class="nameHeader intro">Christian Awe</div>
</footer>
<div class="big mobileonly">
	<div class="arrow hidden">
		&#8593;
	</div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='js/jquery.mobile.custom.min.js'></script>
<script src="js/sticky.js"></script>
<script src="js/togglestuff.js"></script>
<script type="text/javascript">
    (function ($) {
        $(document).ready(function () {

            $('#subscribeForm1').submit(function (e) {

                e.preventDefault();

                const clientEmail = 'contact@christianawe.com';
                const subscribeEmail = $('#subscribeEmail1').val();

                $.ajax({
                    type: 'post',
                    url: 'https://loopback3-boilerplate.herokuapp.com/api/email/send',
                    data: {
                        to: clientEmail,
                        template: 'newsletter_client.html',
                        subject: 'Diese Emailadresse bitte in den Verteiler aufnehmen',
                        data: {
                            email: subscribeEmail
                        }
                    },
                }).done(function (data) {

                    $('#subscribeEmail1').val('');
                    $('#subscribeForm1').hide();
                    $('#thankyou1').show();

                 /*   $.ajax({
                        type: 'post',
                        url: 'https://loopback3-boilerplate.herokuapp.com/api/email/send',
                        data: {
                            to: subscribeEmail,
                            template: 'newsletter_user.html',
                            subject: 'newsletter registration',
                            data: {
                                email: subscribeEmail
                            }
                        },
                    }).done(function (data) {
                        $('#subscribeEmail').val('');
                        $('#subscribeForm').hide();
                        $('#thankyou').show();
                    }); */
                });
            });

            $('#subscribeForm2').submit(function (e) {
                console.log('try to submit!');

                e.preventDefault();

                const clientEmail = 'contact@christianawe.com';
                const subscribeEmail = $('#subscribeEmail2').val();

                $.ajax({
                    type: 'post',
                    url: 'https://loopback3-boilerplate.herokuapp.com/api/email/send',
                    data: {
                        to: clientEmail,
                        template: 'newsletter_client.html',
                        subject: 'Diese Emailadresse bitte in den Verteiler aufnehmen',
                        data: {
                            email: subscribeEmail
                        }
                    },
                }).done(function (data) {

                    $('#subscribeEmail2').val('');
                    $('#subscribeForm2').hide();
                    $('#thankyou2').show();

                });
            })


        });
    })(jQuery);

</script>
</body>

</html>
