<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Christian Awe</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link href="https://fonts.googleapis.com/css?family=Heebo:500" rel="stylesheet">

</head>

<body class="introBackground">
	<header class="desktoponly">
		<div class="intro titleHeader">Christian Awe</div>
	</header>
	<div class="landing"></div>
	<div class="content-container hidden">

		<div class="overlap sectionHeader firstheader fixed"><span>currently working on</span></div>
		<div class=row1>
			<div class="column12">
				<div class="desktoponly">
					<p class="big">New website on the way, be informed about Christians' works, exhibitions and projects
					</p>
					<div class="buttondiv">
						<input id="subscribeButton1" type=submit value="Subscribe" class="standard" />
					</div>
					<div id="thankyou1" style="display: none">
						Thank you!
					</div>
				</div>
				<div class="websiteformdiv mobileonly">
					<div id=newwebsite class="big">
						<div class="underline websiteword">New website</div>
						<div class="">on the way</div>
					</div>
					<div class="emailform standard hidden">
						<p class="">be informed about Christians' works, exhibitions and projects</p>
						<div class="buttondiv">
							<input id="subscribeButton2" type=submit value="Subscribe" class="standard" />
						</div>
						<div id="thankyou2" style="display: none">
							Thank you!
						</div>
					</div>
				</div>
			</div>

			<div class=column11>

				<!--

			Projekt 1

			//-->

				<div id="project01" class="row2 project hidden">
					<div class="column21 big desktoponly">07.03. –
						<br>25.03.2019
					</div>
					<div id="projectTitle01" class="column22 big">
						<div id="actualtitle01" class="underline">
							chusho 抽象
						</div>
						<div class="big mobileonly">07.03. –
							<br>25.03.2019
						</div>
						<div>solo show, Anteroom</div>
						<div>Kyoto, Japan</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks01">
							<div class="desktoponly">
								<div>
									daily 11 a.m. – 9 p.m.
								</div>
							</div>
							<div class="art1" id="art01a">
								<img class="artworkImg" src="images/Christian_Awe_suiren_2018.jpg" />
								<div class=row3>
									<div class="column31 small">
										suiren スイレン 2018<br />
										acrylic on paper, 137 x 103 cm <br /> framed 149 x 114 cm
									</div>
									<div class="column32 small">
										1/3
									</div>
								</div>
							</div>

							<div class="art2" id="art01b">
								<img class="artworkImg" src="images/Christian_Awe_couldn´t_love_u_more_2017.jpg" />
								<div class=row3>
									<div class="column31 small">
										couldnˈt love u more 2017<br />
										acrylic on paper, 152 x 232 cm <br />
										framed 165 x 245 cm
									</div>
									<div class="column32 small">
										2/3
									</div>
								</div>
							</div>

							<div class="art3" id="art01c">
								<img class="artworkImg" src="images/Christian_Awe_movimento_2017.jpg" />
								<div class=row3>
									<div class="column31 small">
										movimento 2017<br />
										acrylic on paper, 152 x 232 cm <br />
										framed 165 x 245 cm
									</div>
									<div class="column32 small">
										3/3
									</div>
								</div>
							</div>

							<div class="mobileonly">
								<!-- <div>chūshō 抽象<br />
									07.03. – 25.03.2019<br /><br />
								</div> -->
								<div>
									daily 11 a.m. – 9 p.m.
								</div>
							</div>

						</div>

					</div>
				</div>

				<!-- Project 2 -->
				<div id="project02" class="row2 project hidden">
					<div class="column21 big desktoponly">20.03. –
						<br>23.03.2019
					</div>
					<div id="projectTitle02" class="column22 big">
						<div id="actualtitle02" class="underline">
							Art Dubai
						</div>
						<div class="big mobileonly">20.03. –
							<br>23.03.2019
						</div>
						<div>with Galerie Tore Suessbier, booth D5</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks02">
							<!-- <div class="desktoponly">
								<div>
									Reinsburgstrasse 68A, 70178 Stuttgart, Germany<br />
									Opening November 9, 6 p.m. – 11 p.m.<br /><br />
								</div>
								<div>Opening hours:<br />
									Tuesday – Friday, 1 p.m. – 7 p.m.<br />
									Saturday 11 a.m. – 4 p.m.<br />
									www.galeriefuchs.de
								</div>
							</div> -->
							<div class="art1" id="art02a">
								<img class="artworkImg" src="images/Christian_Awe_Jeux_d'eau_IV_2017.jpg" />
								<div class=row3>
									<div class="column31 small">
										Jeux d’eau IV 2017<br />
										acrylic on canvas, 180 x 180 cm
									</div>
									<div class="column32 small">
										1/3
									</div>
								</div>
							</div>

							<div class="art2" id="art02b">
								<img class="artworkImg" src="images/Christian-Awe-abstract-XV-2018.jpg" />
								<div class=row3>
									<div class="column31 small">
										abstract XV 2018<br />
										acrylic on canvas, 120 x 100 cm
									</div>
									<div class="column32 small">
										2/3
									</div>
								</div>
							</div>

							<div class="art3" id="art02c">
								<img class="artworkImg" src="images/Christian_Awe_perceptions_II_2018.jpg" />
								<div class=row3>
									<div class="column31 small">
										perceptions II 2018<br />
										acrylic on canvas 120 x 100 cm
									</div>
									<div class="column32 small">
										3/3
									</div>
								</div>
							</div>



							<!-- <div class="mobileonly">
								<div>Reinsburgstrasse 68A, 70178 Stuttgart, Germany<br />
									Opening November 9, 6 – 11 p.m.<br /><br />
								</div>
								<div>Opening hours:<br />
									Tuesday – Friday, 1 p.m. – 7 p.m.<br />
									Saturday 11 a.m. – 4 p.m.<br />
									www.galeriefuchs.de
								</div>
							</div> -->

						</div>

					</div>
				</div>

				<!-- Project 3 -->
				<div id="project03" class="row2 project hidden">
					<div class="column21 big desktoponly">11.04. –
						<br>14.04.2019
					</div>
					<div id="projectTitle03" class="column22 big">
						<div id="actualtitle02" class="underline">
							Art Cologne
						</div>
						<div class="big mobileonly">11.04. –
							<br>14.04.2019
						</div>
						<div>with Galerie Ludorff</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks03">
							<!-- <div class="desktoponly">
						<div>
							Reinsburgstrasse 68A, 70178 Stuttgart, Germany<br />
							Opening November 9, 6 p.m. – 11 p.m.<br /><br />
						</div>
						<div>Opening hours:<br />
							Tuesday – Friday, 1 p.m. – 7 p.m.<br />
							Saturday 11 a.m. – 4 p.m.<br />
							www.galeriefuchs.de
						</div>
					</div> -->
							<div class="art1" id="art03a">
								<img class="artworkImg" src="images/Christian_Awe_D'une_étoile_l'autre_2018.jpg" />
								<div class=row3>
									<div class="column31 small">
										D’une étoile l’autre 2018<br />
										acrylic on canvas, 200 x 160 cm
									</div>
									<div class="column32 small">
										1/3
									</div>
								</div>
							</div>

							<div class="art2" id="art03b">
								<img class="artworkImg" src="images/Christian_Awe_dancing_lines_2018.jpg" />
								<div class=row3>
									<div class="column31 small">
										dancing lines 2018<br />
										acrylic, oil pastel on canvas 180 x 180 cm
									</div>
									<div class="column32 small">
										2/3
									</div>
								</div>
							</div>

							<div class="art3" id="art03c">
								<img class="artworkImg" src="images/Christian_Awe_Feuerwasser_eruptive_2018.jpg" />
								<div class=row3>
									<div class="column31 small">
										Feuerwasser (eruptive) 2018<br />
										acrylic on canvas, 180 x 180 cm
									</div>
									<div class="column32 small">
										3/3
									</div>
								</div>
							</div>
							<!-- <div class="mobileonly">
						<div>Reinsburgstrasse 68A, 70178 Stuttgart, Germany<br />
							Opening November 9, 6 – 11 p.m.<br /><br />
						</div>
						<div>Opening hours:<br />
							Tuesday – Friday, 1 p.m. – 7 p.m.<br />
							Saturday 11 a.m. – 4 p.m.<br />
							www.galeriefuchs.de
						</div>
					</div> -->

						</div>

					</div>
				</div>

				<!-- Project 4 -->
				<div id="project04" class="row2 project hidden">
					<div class="column21 big desktoponly">26.04. –
						<br>28.04.2019
					</div>
					<div id="projectTitle04" class="column22 big">
						<div id="actualtitle04" class="">
							Gallery Weekend Berlin
						</div>
						<div class="big mobileonly">26.04. –
							<br>28.04.2019
						</div>
					</div>
					<div class=column22>
					</div>
				</div>



				<!-- Project 6 -->

				<div id="project06" class="row2 project">
					<div class="column21 big desktoponly">29.05. –
						<br>14.07.2019
					</div>
					<div id="projectTitle06" class="column22 big">
						<div id="actualtitle1" class="underline">
							new works<br />
							solo show
						</div>
						<div class="big mobileonly">29.05. –
							<br>14.07.2019
						</div>
						<div>Galerie Noah, Augsburg</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks06">
							<div class="desktoponly">
								<div>Beim Glaspalast 1, 86153 Augsburg <br />
									<br />
									www.galerienoah.com
									<br /><br />
								</div>

							</div>
							<div class="art1" id="art06a">
								<img class="artworkImg" src="images/Christian Awe_gioia_I_2019.jpg" />
								<div class=row3>
									<div class="column31 small">
										gioia I 2019 <br />
										acrylic on canvas, 110 x 145 cm
									</div>
									<div class="column32 small">
										1/5
									</div>
								</div>
							</div>

							<div class="art2" id="art06b">
								<img class="artworkImg" src="images/Christian_Awe_gioia_II_2019.jpg" />
								<div class=row3>
									<div class="column31 small">
										gioia II 2019 <br />
										acrylic on canvas, 110 x 145 cm
									</div>
									<div class="column32 small">
										2/5
									</div>
								</div>
							</div>

							<div class="art3" id="art06c">
								<img class="artworkImg" src="images/Christian_Awe_Hieronymus_2019.jpg" />
								<div class=row3>
									<div class="column31 small">
										Hieronymus 2019 <br />
										acrylic on canvas, 200 x 300 cm
									</div>
									<div class="column32 small">
										3/5
									</div>
								</div>
							</div>

							<div class="art4" id="art06d">
								<img class="artworkImg" src="images/Christian-Awe-Noah-Augsburg_0051.jpg" />
								<div class=row3>
									<div class="column31 small">
										© Bernd Borchardt
									</div>
									<div class="column32 small">
										4/5
									</div>
								</div>
							</div>


							<div class="art5" id="art06e">
								<img class="artworkImg" src="images/Christian-Awe-Noah-Augsburg_0092.jpg" />
								<div class=row3>
									<div class="column31 small">
										© Bernd Borchardt
									</div>
									<div class="column32 small">
										5/5
									</div>
								</div>
							</div>

							<div class="mobileonly">
								<div>Beim Glaspalast 1, 86153 Augsburg<br />
									<br />
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Project7 -->

				<div id="project07" class="row2 project">
					<div class="column21 big desktoponly">
						since August 2019
					</div>
					<div id="projectTitle07" class="column22 big">
						<div id="actualtitle3" class="underline">
							Porsche Zentrum Hamburg<br />art in public space
						</div>
						<div class="big mobileonly">
							since August 2019
						</div>
						<div>
							a new urban intervention
						</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks07">
							<div class="desktoponly">
								<div>
									since August 2019<br />
								</div>

							</div>
							<div class="desktoponly">
								<div>dynamic – energy – emotion // freedom – power – passion<br />
									in cooperation with Porsche Hamburg<br />
									Lübecker Str. 2, 22087 Hamburg<br /><br />
									Art in public space project<br />
									along with a charity edition in favor of a hospital in Burkina Faso and the
									nonprofit<br />
									initiative “JOBLINGE gAG Hanse”, Hamburg.
								</div>
							</div>
							<div class="art1" id="art07a">
								<img class="artworkImg" src="images/Christian-Awe@Porsche-Zentrum-Hamburg-(c)Bernd-Borchardt_0079.jpg" />
								<div class=row3>
									<div class="column31 small">
										© Bernd Borchardt
									</div>
									<div class="column32 small">
										1/5
									</div>
								</div>
							</div>

							<div class="art2" id="art07b">
								<img class="artworkImg" src="images/Christian-Awe@Porsche-Zentrum-Hamburg-(c)Bernd-Borchardt_0219.jpg" />
								<div class=row3>
									<div class="column31 small">
										© Bernd Borchardt
									</div>
									<div class="column32 small">
										2/5
									</div>
								</div>
							</div>

							<div class="art3" id="art07c">
								<img class="artworkImg" src="images/Christian-Awe@Porsche-Zentrum-Hamburg-(c)Bernd-Borchardt_0264.jpg" />
								<div class=row3>
									<div class="column31 small">
										© Bernd Borchardt
									</div>
									<div class="column32 small">
										3/5
									</div>
								</div>
							</div>

							<div class="art4" id="art07d">
								<img class="artworkImg" src="images/Christian-Awe@Porsche-Zentrum-Hamburg-(c)Bernd-Borchardt_0105.jpg" />
								<div class=row3>
									<div class="column31 small">
										© Bernd Borchardt
									</div>
									<div class="column32 small">
										4/5
									</div>
								</div>
							</div>

							<div class="art5" id="art07e">
								<img class="artworkImg" src="images/Christian-Awe@Porsche-Zentrum-Hamburg-(c)Bernd-Borchardt_0159.jpg" />
								<div class=row3>
									<div class="column31 small">
										© Bernd Borchardt
									</div>
									<div class="column32 small">
										5/5
									</div>
								</div>
							</div>

							<div class="mobileonly">
								<div>since August 2019<br />
								</div>
								<div>dynamic – energy – emotion // freedom – power – passion<br />
									in cooperation with Porsche Hamburg<br />
									Lübecker Str. 2, 22087 Hamburg<br />
									<br />
									Art in public space project<br />
									along with a charity edition in favor of a hospital in Burkina Faso and the
									nonprofit<br />
									initiative “JOBLINGE gAG Hanse”, Hamburg.
								</div>
							</div>

						</div>

					</div>
				</div>
				<!-- end project 7 //-->


				<!-- Project 8 -->

				<div id="project08" class="row2 project">
					<div class="column21 big desktoponly">15.08. –
						<br>31.12.2019
					</div>
					<div id="projectTitle08" class="column22 big">
						<div id="actualtitle8" class="underline">
							II International Mini Print Cantabria
						</div>
						<div class="big mobileonly">15.08. –
							<br>31.12.2019
						</div>
						<div>
							group show<br />
							Faro Cabo Mayor Art Center, Santander
						</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks08">

							<div class="desktoponly">
								<div>Avenida del Faro Pintor Eduardo Sanz s/n<br />
									39012 Santander, Spain
								</div>
							</div>
							<div class="art1" id="art08a">
								<img class="artworkImg" src="images/Christian-Awe-gioia-2019-Acryl-auf-Leinwand-110-x-145-cm.jpg" />
								<div class=row3>
									<div class="column31 small">
										gioia 2019<br />
										acrylic on canvas, 110 x 145 cm<br />
										print, 15.18 x 20 cm<br />
									</div>
									<div class="column32 small">
										1/2
									</div>
								</div>
							</div>

							<div class="art2" id="art08b">
								<img class="artworkImg" src="images/Christian-Awe-gioia-ll-2019-Acryl-auf-Leinwand-110-x-145-cm.jpg" />
								<div class=row3>
									<div class="column31 small">
										gioia II 2019<br />
										acrylic on canvas, 110 x 145 cm<br />
										print, 15.18 x 20 cm
									</div>
									<div class="column32 small">
										2/2
									</div>
								</div>
							</div>


							<div class="mobileonly">
								<div>15.08. –
									<br>20.10.2019<br />
								</div>
								<div>
									II International Mini Print Cantabria
									<br /><br />
									group show<br />
									Faro Cabo Mayor Art Center, Santander<br /><br />
									Avenida del Faro Pintor Eduardo Sanz s/n<br />
									39012 Santander, Spain
								</div>
							</div>

						</div>

					</div>
				</div>
				<!-- end project 8 //-->


				<!-- Project 10 -->

				<div id="project10" class="row2 project">
					<div class="column21 big desktoponly">02.09 -<br />27.09.2019
					</div>
					<div id="projectTitle10" class="column22 big">
						<div id="actualtitle10" class="underline">
							Wasser_Farbe (water_color)
						</div>
						<div class="big mobileonly">02.09 -<br />27.09.2019
						</div>
						<div>
							solo show<br />
							Sparkasse Gevelsberg-Wetter
						</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks10">

							<div class="desktoponly">
								<div>Sparkassen-EnnepeFinanzCenter, Mittelstr. 2-4, 58285 Gevelsberg<br />
									Opening September 1<br /><br />
									Opening hours:<br />
									Monday – Thursday, 8:30 a.m. – 6 p.m.<br />
									Friday 8:30 a.m. – 3 p.m.<br />
								</div>
							</div>
							<div class="art1" id="art10a">
								<img class="artworkImg" src="images/ChristianAwe_Gevelsberg_WasserFarbe.jpg" />
								<div class=row3>
									<div class="column31 small">

									</div>
									<div class="column32 small">
										1/1
									</div>
								</div>
							</div>


							<div class="mobileonly">
								<div>02.09 -<br />27.09.2019<br />
								</div>
								<div>Sparkassen-EnnepeFinanzCenter, Mittelstr. 2-4, 58285 Gevelsberg<br />
									Opening September 1<br /><br />
									Opening hours:<br />
									Monday – Thursday, 8:30 a.m. – 6 p.m.<br />
									Friday 8:30 a.m. – 3 p.m.<br />
								</div>
							</div>

						</div>

					</div>
				</div>
				<!-- end project 10 //-->

				<!-- Project 11 -->

				<div id="project11" class="row2 project">
					<div class="column21 big desktoponly">12.09 -<br />15.09.2019
					</div>
					<div id="projectTitle11" class="column22 big">
						<div id="actualtitle11" class="underline">
							Contemporary Istanbul
						</div>
						<div class="big mobileonly">12.09 -<br />15.09.2019
						</div>
						<div>
							with Galerie Tore Suessbier, booth B106
						</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks11">

							<div class="desktoponly">
								<div><br />
								</div>
							</div>
							<div class="art1" id="art11a">
								<img class="artworkImg" src="images/Christian-Awe-Jeux-d'eau-IV-2017-Acryl-auf-Leinwand-180x180-cm.jpg" />
								<div class=row3>
									<div class="column31 small">
										Jeux d’eau IV 2017
										acrylic on canvas, 180 x 180 cm
									</div>
									<div class="column32 small">
										1/1
									</div>
								</div>
							</div>


							<div class="mobileonly">
								<div>12.09 -<br />15.09.2019<br />
								</div>
								<div>with Galerie Tore Suessbier, booth B106<br />
								</div>
							</div>

						</div>

					</div>
				</div>
				<!-- end project 11 //-->

				<!-- Project 12 -->

				<div id="project12" class="row2 project">
					<div class="column21 big desktoponly">13.09 -<br />20.10.2019
					</div>
					<div id="projectTitle12" class="column22 big">
						<div id="actualtitle12" class="underline">
							Capture the street
						</div>
						<div class="big mobileonly">13.09 -<br />20.10.2019
						</div>
						<div>
							(group show)<br />
							Oberhessisches Museum
						</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks12">

							<div class="desktoponly">
								<div>
									The works of this exhibition range from figurative to graphic and abstract works, from black and white to colorful neo-pop, from stencil technique to screen printing and installation.
									<br /><br />
									Oberhessisches Museum<br />
									Altes Schloss, Brandplatz 2, 35390 Giessen
									<br /><br />
									Opening hours:<br />
									Tuesday – Sunday, 10 a.m. – 4 p.m.<br />
									Long opening days (26.09. + 17.10.), 10 a.m. – 7 p.m.<br />
									www.giessen.de/oberhessisches_museum<br />
									<br />
								</div>
							</div>
							<div class="art1" id="art12a">
								<img class="artworkImg" src="images/Christian-Awe-wave-theory-II-2018-acrylic-on-canvas-200-x-160-cm.jpg" />
								<div class=row3>
									<div class="column31 small">
										wave theory II 2018<br />
										acrylic on canvas, 200 x 160 cm
									</div>
									<div class="column32 small">
										1/1
									</div>
								</div>
							</div>


							<div class="mobileonly">
								<div>
									The works of this exhibition range from figurative to graphic and abstract works, from black and white to colorful neo-pop, from stencil technique to screen printing and installation.
									<br /><br />
									Oberhessisches Museum<br />
									Altes Schloss, Brandplatz 2, 35390 Giessen
									<br /><br />
									Opening hours:<br />
									Tuesday – Sunday, 10 a.m. – 4 p.m.<br />
									Long opening days (26.09. + 17.10.), 10 a.m. – 7 p.m.<br />
									www.giessen.de/oberhessisches_museum<br />
									<br />
								</div>
							</div>

						</div>

					</div>
				</div>
				<!-- end project 12 //-->

				<!-- Project 13 -->

				<div id="project13" class="row2 project">
					<div class="column21 big desktoponly">20.09. –
						<br>29.11.2019
					</div>
					<div id="projectTitle13" class="column22 big">
						<div id="actualtitle13" class="underline">
							Wortgefecht
						</div>
						<div class="big mobileonly">20.09. –
							<br>29.11.2019
						</div>
						<div>
							e.artis contemporary, Chemnitz
						</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks13">

							<div class="desktoponly">
								<div>Art as an invitation to dialogue, including two common works by Christian<br/>
									Awe and Khaled Al Saai<br/><br/>
									Theaterstr. 58, 09111 Chemnitz<br/>
									Opening September 20<br/><br/>
									Opening hours:<br/>
									Monday 10 a.m. – 2 p.m.<br/>
									Tuesday – Friday, 10 a.m. – 5 p.m.<br/>
									www.e-artis-contemporary.com<br/><br/>
									Opening hours during art weekend “WENDUNGEN”<br/>
									September 28/29<br/>
									Saturday and Sunday 11 a.m. – 6 p.m.<br/>
								</div>
							</div>
							<div class="art1" id="art13a">
								<img class="artworkImg" src="images/Christian-Awe-witheachother-2017-(c)Ana-Santl.jpg" />
								<div class=row3>
									<div class="column31 small">
										witheachother 2017<br/>
										acrylic on canvas, 300 x 600 cm<br/>
										©Ana Santl<br/>
									</div>
									<div class="column32 small">
										1/3
									</div>
								</div>
							</div>

							<div class="art2" id="art13b">
								<img class="artworkImg" src="images/Christian-Awe_Khaled-Al-Saai-hope,-peace,-freedom-2017-acrylic-on-canvas-210-cm.jpg" />
								<div class=row3>
									<div class="column31 small">
										Christian Awe, Khaled Al Saai<br/>
										hope, peace, freedom 2017<br/>
										acrylic on canvas, Ø 210 cm<br/>
									</div>
									<div class="column32 small">
										2/3
									</div>
								</div>
							</div>

							<div class="art2" id="art13c">
								<img class="artworkImg" src="images/Christian-Awe_Khaled-Al-Saai-(c)Bernd-Borchardt_0134.jpg" />
								<div class=row3>
									<div class="column31 small">
										© Bernd Borchardt
									</div>
									<div class="column32 small">
										3/3
									</div>
								</div>
							</div>


							<div class="mobileonly">
								<div>20.09. –
									<br>29.11.2019
								</div>
								<div>
									e.artis contemporary, Chemnitz
									<br /><br />
									Art as an invitation to dialogue, including two common works by Christian<br/>
									Awe and Khaled Al Saai<br/><br/>
									Theaterstr. 58, 09111 Chemnitz<br/>
									Opening September 20<br/><br/>
									Opening hours:<br/>
									Monday 10 a.m. – 2 p.m.<br/>
									Tuesday – Friday, 10 a.m. – 5 p.m.<br/>
									www.e-artis-contemporary.com<br/><br/>
									Opening hours during art weekend “WENDUNGEN”<br/>
									September 28/29<br/>
									Saturday and Sunday 11 a.m. – 6 p.m.<br/>
								</div>
							</div>

						</div>

					</div>
				</div>
				<!-- end project 13 //-->


				<!-- Project 14 -->

				<div id="project14" class="row2 project">
					<div class="column21 big desktoponly">7.11.2019
					</div>
					<div id="projectTitle14" class="column22 big">
						<div id="actualtitle14" class="underline">
							Wasserspiel<br />
						</div>
						<div class="big mobileonly">7.11.2019
						</div>
						<div>
							Office opening and vernissage<br />
							Wilde & Partner, Munich
						</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks14">

							<div class="desktoponly">
								<div>
									Wilde & Partner Communications<br />
									Franziskanerstr. 14, 81669 Munich<br />
									Opening November 7 at 7 p.m.<br />
									Artist talk with Christian Awe and Mon Muellerschoen<br /><br />
									https://www.wildevernissage.de/
								</div>
							</div>
							<div class="art1" id="art14a">
								<img class="artworkImg" src="images/5-Christian Awe feu d'artiste 2019 Acryl auf Leinwand 110 x 145 cm.jpg" />
								<div class=row3>
									<div class="column31 small">
										feu d'artiste 2019<br />
										acrylic on canvas, 110 x 145cm
									</div>
									<div class="column32 small">
										1/3
									</div>
								</div>
							</div>
							<div class="art2" id="art14b">
								<img class="artworkImg" src="images/2-Christian Awe wild 2019 Acryl auf Leinwand 125 x 125 cm .jpg" />
								<div class=row3>
									<div class="column31 small">
										wild 2019<br />
										acrylic on canvas, 125 x 125cm
									</div>
									<div class="column32 small">
										2/3
									</div>
								</div>
							</div>
							<div class="art3" id="art14c">
								<img class="artworkImg" src="images/3-Christian Awe wild II 2019 Acryl auf Leinwand 125 x 125 cm.jpg" />
								<div class=row3>
									<div class="column31 small">
										wild II 2019<br />
										acrylic on canvas, 125 x 125cm
									</div>
									<div class="column32 small">
										2/3
									</div>
								</div>
							</div>



							<div class="mobileonly">
								<div>
									Galerie art gluchowe, Schloss Forderglauchau<br />
									Schlossplatz 5a, 08371 Glauchau<br />
									Opening November 21
									<br /><br />
									Opening hours:<br />
									Tuesday – Friday, 10:30 a.m. – 12 noon / 1 p.m. – 5 p.m.<br />
									Saturday/Sunday, 2 p.m. – 5 p.m.<br />
									www.artgluchowe.de<br />
								</div>
							</div>

						</div>

					</div>
				</div>
				<!-- end project 14 //-->

				<!-- Project 15 -->

				<div id="project15" class="row2 project">
					<div class="column21 big desktoponly">21.11.2019 –
						<br>12.01.2020
					</div>
					<div id="projectTitle15" class="column22 big">
						<div id="actualtitle15" class="underline">
							Linie, Licht und Schatten (line, light and shadow)<br />
						</div>
						<div class="big mobileonly">21.11.2019 –
							<br>12.01.2020
						</div>
						<div>
							Kunstverein der Stadt Glauchau
						</div>
					</div>

					<div class=column22>

						<div class="artworks" id="artworks15">

							<div class="desktoponly">
								<div>
									Galerie art gluchowe, Schloss Forderglauchau<br />
									Schlossplatz 5a, 08371 Glauchau<br />
									Opening November 21
									<br /><br />
									Opening hours:<br />
									Tuesday – Friday, 10:30 a.m. – 12 noon / 1 p.m. – 5 p.m.<br />
									Saturday/Sunday, 2 p.m. – 5 p.m.<br />
									www.artgluchowe.de<br />
								</div>
							</div>
							<div class="art1" id="art15a">
								<img class="artworkImg" src="images/Christian-Awe-make-ur-mark-2018-Ölpastell-und-Acryl-auf-geschwärztem-Papier-113-x-93-cm.jpg" />
								<div class=row3>
									<div class="column31 small">
										make ur mark 2018<br />
										oil pastel and acrylic on blackened paper, 113 x 93cm
									</div>
									<div class="column32 small">
										1/1
									</div>
								</div>
							</div>


							<div class="mobileonly">
								<div>
									Galerie art gluchowe, Schloss Forderglauchau<br />
									Schlossplatz 5a, 08371 Glauchau<br />
									Opening November 21
									<br /><br />
									Opening hours:<br />
									Tuesday – Friday, 10:30 a.m. – 12 noon / 1 p.m. – 5 p.m.<br />
									Saturday/Sunday, 2 p.m. – 5 p.m.<br />
									www.artgluchowe.de<br />
								</div>
							</div>

						</div>

					</div>
				</div>
				<!-- end project 15 //-->

			</div>
		</div>
		<div class="sectionHeader"><span>get in touch</span></div>
		<div class="desktoponly contact big">
			<div class="contactdetails">Atelier Christian Awe
				<br>Siegfriedstr. 204a
				<br>10365 Berlin, Germany
			</div>
			<div class="contactdetails">office +49 30 84 41 99 40
				<br><a href="mailto:info@christianawe.com">
					info@christianawe.com
				</a>
			</div>
			<div class="contactdetails">press inquiries:
				<br><a href="mailto:presse@christianawe.com">
					presse@christianawe.com
				</a>
			</div>
			<div class="contactdetails">Galleries:
				<br>Ludorff (Düsseldorf)
				<br>Ostendorff (Münster)
				<br>Thomas Fuchs (Stuttgart)
				<br>Tristan Lorenz (Frankfurt am Main)
			</div>
		</div>
		<div class="mobileonly contact big">
			<div class="contactdetails">Atelier
				<br>Christian Awe
				<br>Siegfriedstr. 204a
				<br>10365 Berlin,
				<br>Germany
				<br>office
				<br>+49 30 84 41 99 40
				<br />
				<a href="mailto:info@christianawe.com">
					info@<br />
					christianawe.com
				</a>
			</div>
			<div class="contactdetails">press inquiries:
				<br />
				<a href="mailto:presse@christianawe.com">
					presse@<br />
					christianawe.com
				</a>

			</div>
			<div class="contactdetails align-left">Galleries:
				<br>Ludorff (Düsseldorf)
				<br>Ostendorff (Münster)
				<br>Thomas Fuchs (Stuttgart)
				<br>Tristan Lorenz (Frankfurt am Main)
			</div>
		</div>


		<div class="sectionHeader"><span>Imprint</span></div>
		<div class="row4 hidden">
			<div class="column41 col1">
				<div class="imprintdetails">Responsible for
					<br>the contents of this website
				</div>
				<div class="imprintdetails">Atelier Christian Awe
					<br>Siegfriedstr. 204a
					<br>10365 Berlin, Germany
				</div>
				<div class="imprintdetails">phone: +49 30 844 199 40
					<br>email: <a href="mailto:info@christianawe.com">
						info@christianawe.com
					</a>
				</div>
				<div class="imprintdetails">USt-IdNr.: DE252685252</div>
				<div class="imprintdetails">Design: <a target="_blank" href="http://fassonfreddyfuss.com">FASSON</a>
				</div>
				<div>

				</div>
			</div>
			<div class="column42 col2">
				<div class="imprintdetails">
					©2019 Atelier Christian Awe – all rights reserved. The contents and works published on this website
					are
					governed by the copyright
					laws of Germany. Any duplication, reproduction, processing, distribution or any form of utilisation
					beyond the
					scope of copyright law shall require the prior written approval of the studio Christian Awe.
				</div>
				<div class="imprintdetails">DISCLAIMER</div>
				<div class="imprintdetails">Liability for Content</div>
				<div class="imprintdetails">
					We make every effort to keep the information on our Web site current, but accept no liability
					whatsoever
					for the content
					provided. Pursuant to 7 par. 1 of TMG (German Tele-Media Act), the law limits our responsibility as
					a
					service provider
					to our own content on these Web pages.
				</div>
				<div class="imprintdetails">
					According to 8 to 10 of TMG, we are not obligated to monitor third party information provided or
					stored
					on our Web site.
					However, we shall promptly remove any content upon becoming aware that it violates the law. Our
					liability in such
					an instance shall commence at the time we become aware of the respective violation.
				</div>
				<div class="imprintdetails">Liability for Links</div>
				<div class="imprintdetails">
					Our site contains links to third-party Web sites. We have no influence whatsoever on the information
					on
					these Web sites and
					accept no guaranty for its correctness. The content of such third-party sites is the responsibility
					of
					the respective
					owners/providers.
				</div>
				<div class="imprintdetails">
					At the time third-party Web sites were linked to ours, we found no grounds whatsoever of any likely
					contravention of the
					law. We shall promptly delete a link upon becoming aware that it violates the law.
				</div>
			</div>
			<div class="column43 col3">
				<div class="imprintdetails">Copyrights</div>
				<div class="imprintdetails">
					The content and works provided on these Web pages are governed by the copyright laws of Germany.
					Duplication, processing,
					distribution, or any form of commercialization of such material beyond the scope of the copyright
					law
					shall require
					the prior written consent of its respective author or creator.
				</div>
				<div class="imprintdetails">Data Protection</div>
				<div class="imprintdetails">
					Please be aware that there are inherent security risks in transmitting data, such as e-mails, via
					the
					Internet, because it
					is impossible to safeguard completely against unauthorized access by third parties. Nevertheless, we
					shall safeguard
					your data, subject to this limitation. In particular, personal information will be transmitted via
					the
					Internet
					only if it does not infringe upon third-party rights, unless the respective party has given its
					prior
					consent in
					view of such security risks. Accordingly, as the Web site provider, we shall not be held liable for
					any
					damages
					incurred as a consequence of such security risks or for any related acts of omission on our part.
				</div>
				<div class="imprintdetails">
					We oppose the use of any available contact information by a third party for sending unsolicited
					advertisements. As the Web
					site provider, we reserve the express right to take legal action against unsolicited mailing or
					e-mailing of spam
					and other similar advertising materials.
				</div>
				<div class="imprintdetails">
					<a href="https://ra.de/bsp/kanzlei/geo">Source</a>
				</div>
			</div>
		</div>
	</div>
	<footer class="mobileonly">
		<div class="nameHeader intro">Christian Awe</div>
	</footer>
	<div class="big mobileonly">
		<div class="arrow hidden">
			&#8593;
		</div>
	</div>

	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='js/jquery.mobile.custom.min.js'></script>
	<script src="js/sticky.js"></script>
	<script src="js/togglestuff.js"></script>
	<script type="text/javascript">
		(function ($) {
			$(document).ready(function () {

				$('#subscribeButton1').click(function () {
					// console.log('clicked');
					$('head').append('<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"><\/script>');
					setTimeout(() => {
						$('head').append('<script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"2c4c13ac6f0d5aec467898a0a","lid":"aacd35f635","uniqueMethods":true}) })<\/script>');
					}, 2000);
				});

				$('#subscribeButton2').click(function () {
					// console.log('clicked');
					$('head').append('<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"><\/script>');
					setTimeout(() => {
						$('head').append('<script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"2c4c13ac6f0d5aec467898a0a","lid":"aacd35f635","uniqueMethods":true}) })<\/script>');
					}, 2000);
				});
			});
		})(jQuery);

	</script>
</body>

</html>