* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "Everyday";
	src: url("../fonts/Everyday-Bold.woff2") format('woff');
}

html {
	min-height: 100%;
}

body {
	font-family: "Everyday", "Heebo";
	font-size: 25px;
	border: 0;
	padding: 0;
	text-align: center;
	width: 100%;
	overflow-x: hidden;
}

a {
	color: black;
}

input::-webkit-input-placeholder {
	font-family: "Everyday", "Heebo";
	color: black;
	font-size: 25px;
	text-align: center;
}

input::-moz-placeholder {
	font-family: "Everyday", "Heebo";
	color: black;
	font-size: 25px;
	text-align: center;
}

input::-ms-input-placeholder {
	font-family: "Everyday", "Heebo";
	color: black;
	font-size: 25px;
	text-align: center;
}

input::-o-input-placeholder {
	font-family: "Everyday", "Heebo";
	color: black;
	font-size: 25px;
	text-align: center;
}

form {
	padding: 40px;
	width: 70%;
	margin: 0 auto;
}

input[type=submit] {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	height: 70px;
	width: 70px;
	line-height: 70px;
	font-size: 25px;
	font-family: "Everyday", "Heebo";
}

input[type=text] {
	height: 70px;
	width: 70vw;
	line-height: 25px;
	border: 3px solid #000;
	vertical-align: middle;
	font-size: 25px;
	font-family: "Everyday", "Heebo";
	text-align: center;
	-webkit-appearance: none;
	border-radius: 0;
}

input[type=text]::placeholder {
	color: #000;
	font-family: "Everyday", "Heebo";
}

.input {
	margin: auto;
}

/* helper styles */

.hidden {
	display: none;
}

/* custom content styles (mobile) */

.small {
	font-size: 13px;
}

.big {
	font-size: 38px;
}

.standard {
	font-size: 25px;
}

.nameHeader {
	position: fixed;
	z-index: 1;
	text-align: center;
	width: 100vw;
	background: #fff;
	bottom: 0px;
	height: 30px;
}

.nameHeader.intro {
	background-color: transparent;
	color: #fff;
}

.mobileonly .nameHeader {
	padding: 25px 0;
	background-color: transparent;
}

.artworks {
	margin-top: 20px;
	display: none;
}

.artworks .mobileonly > div {
	padding: 0 7%;
	text-align: left;
}

.contactdetails.align-left {
	text-align: left;
}

.art1, .art2, .art3, .art4, .art5, .art6, .art7 {
	margin-top: 20px;
	margin-bottom: 80px;
}

#project2 .art1,
#project3 .art1 {
	height: auto;
}

.artworkImg, .row3 {
	width: 85%;
	margin: 0 auto;
}

.art1, .art2, .art3,
.art4, .art5, .art6, .art7 {
	display: none;
}

.art1a, .art1b, .art1c,
.art2a, .art2b, .art2c,
.art3a, .art3b, .art3c {
	display: none;
}

.active {
	display: block;
}

.imprintdetails {
	font-size: 25px;
}

.column41, .column42, .column43 {
	font-size: 25px;
}

.websiteformdiv.mobileonly p {
	max-width: 260px;
	margin: 0 auto;
}

#thankyou1, #thankyou2 {
	padding-top: 40px;
}

.firstheader {
	padding-top: 30px;
}

.column31 {
	text-align: left;
}

/* mobile styles */

.desktoponly {
	display: none;
}

.introBackground {
	background-image: url("/images/splashscreen_bg_mobile.jpg");
	background-size: 130%;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.landing {
	height: 100vh;
	width: 100vh;
	position: relative;
	z-index: 12;
}

.underline {
	text-decoration: underline;
	cursor: pointer;
}

.desktoponly {
	display: none;
}

.firstpar {
	margin-bottom: 30px;
}

.arrow {
	position: fixed;
	bottom: 60px;
	right: 30px;
	/* background: #fff; */
	z-index: 4;
}

.ellipsis {
	position: fixed;
	width: 80vw;
	bottom: 30px;
	background: #fff;
	height: 70px;
}

.websiteformdiv {
	margin-top: 65px;
	margin-bottom: 70px;
}

#newwebsite {
	margin-bottom: 20px;
}

#project1, #project2, #project3 {
	margin-bottom: 90px;
}

#project4 {
	margin-bottom: 120px;
}

.contact {
	margin-top: 60px;
	margin-bottom: 120px;
}

.contactdetails {
	margin-bottom: 55px;
	padding-left: 10%;
	padding-right: 10%;
}

.column41, .column42, .column43 {
	margin-top: 80px;
}

.imprintdetails {
	margin-bottom: 30px;
}

.column31 {
	float: left;
}

.column32 {
	float: right;
}

.column41, .column42, .column43 {
	float: none;
	width: auto;
	margin-right: 0;
}

.column43.col3 {
	padding-bottom: 100px;
}

.col1, .col2, .col3 {
	padding: 0 5% 5% 5%;
}

@media only screen and (min-width: 1024px) {
	.introBackground {
		background-image: url("/images/splashscreen_bg.jpg");
		background-position: top;
		position: fixed;
	}
}

@media only screen and (min-width: 1025px) {

	/* custom styles */
	.small {
		font-size: 13px;
	}

	.big {
		font-size: 29px;
	}

	.standard {
		font-size: 25px;
	}

	.overlap {
		z-index: 3;
		position: absolute;
	}

	.introBackground {
		background-image: url("/images/splashscreen_bg.jpg");
		background-position: top;
		position: fixed;
	}

	/* custom styles */
	.artworkImg {
		width: 700px;
	}

	.row3 {
		width: 700px;
		margin: 0;
	}

	.artworks {
		margin-top: 50px;
		display: none;
	}

	.art1, .art2, .art3 {
		margin-top: 50px;
		margin-bottom: 120px;
		height: 900px;
		width: 70vw;
	}

	.art1 {
		display: none;
	}

	.art2 {
		display: none;
	}

	.art3 {
		display: none;
	}

	.active {
		display: block;
	}

	.invisible {
		height: 1000px;
	}

	form {
		padding-left: 0;
		margin: 0;
		width: 300px;
		padding-right: 0;
	}

	input[type=submit] {
		height: 32px;
		width: 32px;
		line-height: 32px;
		font-size: 15px;
		vertical-align: middle;
	}

	input[type=text] {
		height: 32px;
		width: 215px;
		line-height: 15px;
		font-size: 15px;
		vertical-align: middle;
		text-align: center;
		border-radius: 0;


	}

	input[type=text]::placeholder {
		font-size: 15px;
	}

	#project1 {
		margin-bottom: 150px;
	}

	#project2 {
		margin-bottom: 165px;
	}

	#project3 {
		margin-bottom: 117px;
	}

	.project {
		margin-bottom: 90px;
		text-align: left;
	}

	.contact {
		margin-top: 125px;
		margin-bottom: 200px;
	}

	.contactdetails {
		margin-bottom: 57px;
	}

	.row1 {
		margin-top: 205px;
		padding-left: 5%;
	}

	.column01 {
		float: left;
		width: 790px;
	}

	.column02 {
		float: left;
		width: 867px;
	}

	.column11 {
		float: left;
		width: 1313px;
		margin-bottom: 167px;
	}

	.column12 {
		position: absolute;
		right: 0;
		width: 290px;
		text-align: left;
	}

	.column12 p {
		max-width: 280px;
	}

	.column21 {
		float: left;
		min-width: 200px;
		width: 20%;
	}

	.column22 {
		float: right;
		width: 80%;
	}

	.column31 {
		float: left;
	}

	.column32 {
		float: right;
	}

	.col1, .col2, .col3 {
		float: left;
		text-align: left;
		font-size: 15px;
	}

	.col1 {
		min-width: 200px;
		width: 15%;
	}

	.col2 {
		min-width: 200px;
		width: 25%;
	}

	.col3 {
		min-width: 200px;
		width: 25%;
		margin-right: 0;
	}

	.titleHeader {
		position: fixed;
		text-align: center;
		width: 100vw;
		z-index: 2;
		top: 60px;
	}

	.firstheader {
		padding-top: 0px;
	}

	.titleHeader.intro {
		color: #fff;
	}

	.contactdetails {
		text-align: left;
		padding-left: 5%;
	}

	.sectionHeader {
		position: relative;
		z-index: 1;
		text-align: left;
		padding-left: 5%;
	}

	.sectionHeader span {
		display: block;
		transform: translate(0, 30px);
		transition: transform ease-out 0.2s;
	}

	.sectionHeader.firstheader span {
		transform: translate(0, 0);
	}

	.sectionHeader.fixed {
		position: fixed;
		top: 60px;
		width: 100%;
		box-sizing: border-box;
		z-index: 0;
	}

	.sectionHeader.fixed span {
		transform: translate(0, 0);
	}

	.sectionHeader.fixed.absolute {
		position: absolute;
	}

	.landing {
		height: 1015px;
		width: 1920px;
	}

	.row4 {
		margin-top: 122px;
	}

	.imprintdetails {
		margin-bottom: 35px;
		font-size: 15px;
	}

	/* Clear floats after the columns */
	.row4:after {
		content: "";
		display: table;
		clear: both;
	}

	.row3:after {
		content: "";
		display: table;
		clear: both;
	}

	.row2:after {
		content: "";
		display: table;
		clear: both;
	}

	.row1:after {
		content: "";
		display: table;
		clear: both;
	}

	.row0:after {
		content: "";
		display: table;
		clear: both;
	}

	.mobileonly {
		display: none;
	}

	.desktoponly {
		display: inherit;
	}

	.firstpar {
		margin-bottom: 30px;
		max-width: 410px;
	}

	.contactdetails a {
		text-decoration: none;
	}
	/*
	.underline {
		text-decoration: none;
	}

	.underline:hover {
		text-decoration: underline;
		cursor: pointer;
	} */

    a {
	    text-decoration: none;
    }

	a:hover {
		text-decoration: underline;
	}

}

@media only screen and (min-width: 1750px) {
	.imprintdetails {
		font-size: 25px;
	}

	.big {
		font-size: 38px;
	}

	.column12 {
		width: 370px;
	}

	.column12 p {
		max-width: 380px;
	}
}

@media only screen and (min-width: 1350px) {
	.column12 {
		margin-right: 10%;
	}
}

@media only screen and (max-width: 1024px) {
	.imprintdetails {
		padding: 0 7%;
		text-align: left;
	}
}
