

.small {
    font-size: 13px;
}

.big {
    font-size: 29px;
}

.standard {
    font-size: 25px;
}

.nameHeader {
  position: fixed;
  z-index: 1;
  text-align: center;
  width: 80vw;
  background: #fff;
  bottom: 0px;
  height: 30px;
}

.nameHeader.intro {
  background-color: Transparent;
  color: #fff;
  /*margin-left:10vw;
  margin-right:10vw;*/
}

.introHeader {
  color: #fff;
  text-align: center;
}

.titleHeader {
  position: fixed;
  z-index: 1;
  text-align: center;
  width: 80vw;
  background: #fff;
  bottom: 0px;
}

.titleHeader.fixed {
  position: fixed;
  bottom: 0;
  width: 80vw;
  box-sizing: border-box;
  z-index: 0;
}

.titleHeader.fixed.absolute {
  position: absolute;
}

.artworks {
  margin-top: 20px;
  display: none;
}

.art1, .art2, .art3 {
  margin-top: 20px;
  margin-bottom: 50px;
  /*height: 900px;*/
  width: 80vw;
}

.artworkImg, .row3 {
  width: 80vw;
}

.art1 {
  display: none;
}

.art2 {
  display: none;
}

.art3 {
  display: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.invisible {
  height: 1000px;
}

.introBackground {
	background-image: url(../images/christianawe_01139.jpg);
	background-size: 130%;
	background-repeat: no-repeat;
	margin-bottom: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.landing {
  height: 100%;
  width: 100%;
	position: relative;
}

.underline {
  text-decoration: underline;
}

.desktoponly {
  display: none;
}

.firstpar {
  margin-bottom: 30px;
}

.arrow {
  position: fixed;
  bottom: 30px;
  right: 10px;
  background: #fff;
  z-index: 4;
}

.ellipsis {
  position: fixed;
  width: 80vw;
  bottom: 30px;
  background: #fff;
  height: 70px;
}

.websiteformdiv {
  margin-top: 65px;
  margin-bottom: 70px;
}

#newwebsite {
  margin-bottom: 20px;
}

#project1, #project2, #project3 {
  margin-bottom: 90px;
}

#project4 {
  margin-bottom: 120px;
}

.contact {
  margin-top: 60px;
  margin-bottom: 120px;
}

.contactdetails {
  margin-bottom: 55px;
}

.column41, .column42, .column43 {
  margin-top: 80px;
}

.imprintdetails {
  margin-bottom: 30px;
}

.column31 {
  float: left;
}

.column32 {
  float: right;
}
