* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: "myfont";
    src: url("../fonts/Everyday-Bold.woff2") format('woff');
}

body {
    font-family: myfont;
    font-size: 25px;
    min-width: 1800px;
    width: 1920px;
    border: 0;
    padding: 0;
    margin-top: 65px;
    margin-bottom: 360px;
    margin-right: 112px;
    margin-left: 112px;
}

a {
  color: black;
}

.introBackground {
  background-image: url("/public/images/christianawe_01139.jpg");
  background-size: 1920px;
  background-repeat: no-repeat;
}

.artworkImg {
  width: 700px;
}

.row3 {
  width: 700px;
}

.artworks {
  display: none;
}

.art1 {
  display: none;
}

.art2 {
  display: none;
}

.art3 {
  display: none;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

.invisible {
  height: 1000px;
}

input::-webkit-input-placeholder {
    font-family: myfont;
    color: black;
    font-size: 25px;
    text-align: center;
}

input::-moz-placeholder {
    font-family: myfont;
    color: black;
    font-size: 25px;
    text-align: center;
}

input::-ms-input-placeholder {
    font-family: myfont;
    color: black;
    font-size: 25px;
    text-align: center;
}

input::-o-input-placeholder {
    font-family: myfont;
    color: black;
    font-size: 25px;
    text-align: center;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;a
}

input {
  height: 32px;
  width: 200px;
  border-width: medium;
  border-color: black;
}

.small {
    font-size: 13px;
}

.big {
    font-size: 38px;
}

.standard {
    font-size: 25px;
}

.row1 {
    margin-top: 205px;
}

.column01 {
    float: left;
    width: 790px;
}

.column02 {
    float: left;
    width: 867px;
}

.column11 {
    float: left;
    width: 1316px;
}

.column12 {
    float: right;
    width: 347px;
}

.column21 {
    float: left;
    width: 365px;
}

.column22 {
    float: right;
    width: 951px;
}

.column31 {
    float: left;
}

.column32 {
    float: right;
}

.column41 {
    float: left;
    width: 509px;
}

.column42 {
    float: left;
    width: 661px;
    margin-right: 115px;
}

.column43 {
    float: left;
    width: 545px;
}

.titleHeader {
  position: relative;
  z-index: 1;
  background: #fff;
}

.titleHeader.fixed {
  position: fixed;
  top: 0;
  left: -20px;
  text-align: center;
  width: 1920px;
  box-sizing: border-box;
  z-index: 0;
}

.titleHeader.fixed.absolute {
  position: absolute;
}

.introHeader {
  color: #fff;
  text-align: center;
}

.intro {
  background-color: Transparent;
  color: #fff;
}

.landing {
  height: 1000px;
}

/* Clear floats after the columns */
.row4:after {
    content: "";
    display: table;
    clear: both;
}

.row3:after {
    content: "";
    display: table;
    clear: both;
}

.row2:after {
    content: "";
    display: table;
    clear: both;
}

.row1:after {
    content: "";
    display: table;
    clear: both;
}

.row0:after {
    content: "";
    display: table;
    clear: both;
}
